@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="POST" action="">
    <div>
        <label asp-for="Mensagem"></label>
        <br />
       

    </div>
    <input type="submit" />
</form>